body {
    margin: 0px;
    padding: 0px;
}

.bannerN {
    /* border: 2px solid black; */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:center;
    border-bottom: 2px solid gray;
}

.container {
    /* border: 2px solid blue; */
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.header {
    /* border: solid 2px red; */
    width: 100%;
    height: 5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCor {
    width: 4%;
    height: 7vh;
    margin-top: 2px;
}

.list {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {

text-decoration: solid;
text-decoration: solid;
color: rgb(226, 169, 11);

}

.bannerI {
    display: flex;
    justify-content: center;
}

.bannerI .container {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100vh;
}

.hist {
    width: 100%;
    height: 100vh;
    background-size: 1800px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerH {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    border-top: 2px solid gray;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerH .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contentH {
    border: 2px solid white;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;

}

.divVideo {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textH h2{
    background-color: aqua;
    display: flex;
    justify-content: center;
    
}

.textH span{
    margin-bottom: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    
}