html,body {
    margin: 0px;
    padding: 0px;
}

.bannerN {
    /* border: 2px solid black; */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:center;
    /* border-bottom: 2px solid white; */
    background: linear-gradient(to left, gray, black);
    position: fixed;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    width: 9px;
    height: 5px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.container {
    /* border: 2px solid blue; */
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.header {
    /* border: solid 2px red; */
    width: 100%;
    height: 5vh;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCor {
    width: 4%;
    height: 7vh;
    margin-top: 2px;
}

.list {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {

text-decoration: solid;
text-decoration: solid;
color: rgb(226, 169, 11);

}

.BemVindo {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left, gray, black);
    border-bottom: 2px solid white;
}

.bannerI {
    display: flex;
    justify-content: center;
}

.bannerI .container {
    /* border: 2px solid blue; */
    width: 100%;
    height: 90vh;
}

.hist {
    width: 100%;
    height: 100vh;
    background-size: 1800px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerH {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: linear-gradient( gray, black);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.8s;
    margin-top: 62px;
}

.bannerH .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 130vh;
}

.contentH {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;

}

/* .divVideo {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.textH h2{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}

.textH h3{
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}

.textH span{
    color: white;
    margin-bottom: 35px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.prime {
    color: white;
    padding: 70px 0px 50px 0px;
}

.bannerI2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerI2 .container {
    height: 90vh;
    width: 100%;
}

.hist2 {
    height: 90vh;
    width: 100%;
    background-size: 1350px;
    background-attachment: fixed;
}



.swiper {
  width: 100%;
  height: 130vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
