body {
    margin: 0px;
    padding: 0px;
}

.bannerN {
    /* border: 2px solid black; */
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content:center;
    border-bottom: 2px solid gray;
}

.container {
    /* border: 2px solid blue; */
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.header {
    /* border: solid 2px red; */
    width: 100%;
    height: 5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCor {
    width: 4%;
    height: 7vh;
}

.list {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.list .quatro{
    margin-right: 5px;
}

a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {

text-decoration: solid;
text-decoration: solid;
color: rgb(226, 169, 11);

}

.bannerH {
    display: flex;
    justify-content: center;
}

.bannerH .container {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100vh;
}

.hist {
    width: 100%;
    height: 100vh;
    background-size: 1800px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textH {
    background-color: gray;
}