html,body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    word-wrap: break-word; 
}

.bannerN {
    /* border: 2px solid black; */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:center;
    border-bottom: 2px solid white;
    background: linear-gradient(to left, gray, black);
    position: fixed;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    width: 9px;
    height: 5px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.container {
    /* border: 2px solid blue; */
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.header {
    /* border: solid 2px red; */
    width: 100%;
    height: 5vh;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCor {
    width: 4%;
    height: 7vh;
    margin-top: 2px;
    cursor: pointer;
}

.list {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {

text-decoration: solid;
text-decoration: solid;
color: rgb(226, 169, 11);

}

.bannerI {
    display: flex;
    justify-content: center;
}

.bannerI .container {
    /* border: 2px solid blue; */
    width: 100%;
    height: 60vh;
}

.hist {
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.bannerH {
    overflow: hidden;
    width: 100%;
    height: 90vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: linear-gradient( gray, black);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.8s;
    margin-top: 62px;
}

.bannerH .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 130vh;
}

.contentH {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;

}


.textH h2{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}

.textH h3{
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.textH span{
    color: white;
    margin-bottom: 35px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.prime {
    color: white;
    padding: 70px 0px 50px 0px;
}

.bannerI2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerI2 .container {
    height: 90vh;
    width: 100%;
}

.hist2 {
    height: 90vh;
    width: 100%;
    background-size: 1500px;
    background-attachment: fixed;
}

.p1 {
    width: 100%;
    height: 20vh;
    border-top: 2px solid gray;
    padding-top: 40px;
    padding-bottom: 30px;
}


.filme {
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filme .container{
    height: 90vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileFilme {
    
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.tagfilme {
    color: gray;
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.tagfilme2 {
    color: white;
    font-size: 15px;
    margin-top: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.frame{
    border: 2px solid white;
}

.bannerDesc {
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to left, gray, black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerDesc .container {
    width: 80%;
    height: 50vh;
}

.v1 {
    width: 100%;
    display: flex;

}

.claudio {
    width: 100%;
    height: 49vh;
    margin-left: 50px;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.459);
    border: 4px solid rgba(163, 163, 163, 0.671);
}

.img1 {
    width: 22%;
    height: 50vh;
    margin-right: 250px;
}

.artilheiro {
    margin: 20px 0px 30px -120px;
    font-size: 30px;
    color: white;
    margin-top: 100px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.artilheirodesc {
    font-size: 15px;
    width: 140%;
    margin-left: -120px;
    color: white;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* #2°Topico */


.bannerDesc2 {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to left, gray, black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerDesc2 .container {
    width: 80%;
    height: 50vh;
}

.v2 {
    width: 100%;
    display: flex;
    justify-content: end;

}
.img2 {
    height: 50vh;
}

.Cassio {
    height: 50vh;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.459);
    border: 4px solid rgba(163, 163, 163, 0.671);
}

.goleiro {
    margin: 20px 0px 30px 100px;
    font-size: 30px;
    color: white;
    margin-top: 100px;
    font-weight: bold;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.goleirodesc {
    font-size: 15px;
    width: 140%;
    margin-right: 120px;
    margin-top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Topico Parede */


.parede {
    width: 100%;
    height: 160vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid white;
    border-top: 1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parede .container {
    width: 95%;
    height: 155vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textIdolos {
    color: white;
    font-size: 40px;
    width: 25%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.644);
    border: 2px solid white;
}

.contenteParede {
    width: 99%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l1 {
    width: 99%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.l1 div{
    color:  rgba(255, 255, 255, 0.829);
    font-size: 20px;
    width: 20%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: cursive;
    border-radius: 30px;
    transition: 0.7s;
}


.l1 div:hover {

    transform: scale(1.4);
    z-index: 0;
    
    
    }


/* Topico Estadio */

.bannerEstadio {
    background-repeat: no-repeat;
    width: 100%;
    height: 140vh;
    border-bottom: 2px solid white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.audioT {
    margin-top: 145px;
    margin-right: 30px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.705);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes aparecer {

    from{

     opacity: 1;

    }

    to {

     opacity: 0.1;

    }
}


.bannerTexto {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerTexto .container {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.678);
    width: 30%;
    text-align: left;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.conteudo {
    width: 110%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.726);
    text-align: justify;
    color: white;
    font-size: 25px;
    margin-left: -55px;
}

/* Titulos */

.BannerTitulos {
    width: 100%;
    height: 175vh;
    background: linear-gradient(to left, gray, black);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.BannerTitulos .container {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contentTitulos {
    color: white;
    width: 40%;
    height: 10vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.644);
    border: 2px solid white;
}

.ConteudoT {
    width: 100%;
    height: 148vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t1 {
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.t1 div{
    background-color: rgba(0, 0, 0, 0.644);
    border: 2px solid white;
    width: 25%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
    font-size: 20px;
    color: white;
}

.t1 div:hover {

transform: scale(1.4);
z-index: 0;


}

/* Comentaristas */

.BannerComents {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid black;
    border-bottom: 1.5px solid gray;
}

.BannerComents .container {
    width: 90%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoComent {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.conteudoComent2 {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudoComent3 {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoComent {
    background-size: cover;
    margin-right: 35px;
    border: 1.5px solid gray;
}

.Coment {
    background-color: rgba(129, 129, 129, 0.336);
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.356);
    width: 82%;
    margin-right: 10px;
    margin-left: 10px;
    height: 23vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: justify;
}


.ultimoB {
    height: 100vh;
    width: 100%;
    background-size: cover;
}


/* Footer */

.BannerFooter {
    border-top: 1.5px solid white;
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerFooter .container {
    border-bottom: 1.5px solid gray;
    width: 80%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contFooter {
    width: 95%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contFooter div{
    width: 100%;
    height: 38vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.contFooter div span{
    font-size: 18px;
}

.contFooter div h2 {
    font-size: 25px;
    font-weight: bolder;
}


.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerOne {
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}